.auth-container {
  /* margin-top: 72px; */
}

.auth-container p {
  color: black;
}

.auth-container a {
  color: #f2709c;
}

.auth-box {
  max-width: 400px;
  padding-bottom: 3rem;
  min-height: 100vh;
}

.signup-red-box {
  overflow: hidden;

  background: #f2709c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2709c, #ff9472); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2709c,
    #ff9472
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.signupbox {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
}

.signupbox.one {
  left: -5vw;
  top: 40vh;
  transform: rotate(-65deg);
  width: 15rem;
  height: 15rem;
}

.signupbox.two {
  right: -15vw;
  top: 60vh;
  transform: rotate(-75deg);
  background-color: rgba(255, 255, 255, 0.2);
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}

.signupbox.three {
  background: rgba(255, 127, 80, 0.5);
  height: 100px;
  left: 90vw;
  top: 10vh;
  width: 20px;
}
.signupbox.three:after {
  background: rgba(255, 127, 80, 0.5);
  content: "";
  height: 20px;
  left: -40px;
  position: absolute;
  top: 40px;
  width: 100px;
}

.signupbox.four {
  left: 30vw;
  top: 60vh;
  background-color: rgba(255, 127, 80, 0.1);
  transform: rotate(135deg);
  width: 4rem;
  height: 4rem;
}

.signupbox.five {
  left: 20vw;
  top: -28vh;
  width: 30rem;
  height: 30rem;
  transform: rotate(135deg);
  background-color: rgb(153 200 236 / 20%);
}

.signupbox.six {
  left: 2vw;
  top: 20vh;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: rgba(255, 127, 80, 0.7);
}

.signupbox.seven {
  left: 50vw;
  top: 10vh;
  width: 4rem;
  height: 4rem;
}

.illustration {
  max-width: 300px;
}
