.dashboard {

}

.dashboard .statistics-box {
  -webkit-box-shadow: 11px 20px 20px 0px #c5c5c5;
  -moz-box-shadow: 11px 20px 20px 0px #c5c5c5;
  box-shadow: 11px 20px 20px 0px #c5c5c5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dashboard .statistics-box .icon-box {
  width: 90px;
  height: 90px;
  margin-top: -40px;
}
