/* .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
} */

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.wrapper, body {
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  font-weight: 200;
  background-size: cover;
  background-color: white;
  background-position: 50%;
  -webkit-transition: left .25s ease-out;
  -moz-transition: left .25s ease-out;
  -o-transition: left .25s ease-out;
  transition: left .25s ease-out;
}

.main-panel {
  background: rgba(203,203,210,.15);
  position: relative;
  float: right;
  width: calc(100% - 260px);
  overflow: hidden!important;
  overflow-anchor: none;
  padding-left: 25px;
  padding-right: 25px;
}

.display-4 {
  font-size: 2.5rem;
}

.react-datepicker-wrapper {
  width: 100%;
}

/* @media (max-width: 575.98px) { */
/* @media (max-width: 767px) { */
@media (max-width: 992px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -260px;
    width: 260px;
    display: block;
    z-index: 1;
    font-weight: 200;
    background-size: cover;
    background-position: 50%;
  }

  .main-panel {
    background: rgba(203,203,210,.15);
    position: relative;
    float: right;
    width: calc(100%);
    overflow: hidden!important;
    overflow-anchor: none;
    padding-left: 25px;
    padding-right: 25px;
  }

  .show {
    left: 0px;
    background-color: white;
  }
}
